/*UPDATED INFO BUTTON CSS*/
.fixed-action-btn{
	bottom:45px;
	right:24px;
}
#updatedInfo{
	font-weight: bold;
}

/*HOME PAGE CSS*/
@media screen and (max-width: 992px) {
	#square{
		margin-top: 4em;
	}
}
.parent {
	overflow: hidden;
	position: relative;
	float: left;
	display: inline;
	cursor: pointer;
}
.child {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.child>a{
	display: none;
	font-size: 35px;
	color: #ffffff !important;
	font-family: sans-serif;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 50px;
	cursor: pointer;
}
.parent:hover .child, .parent:focus .child {
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.parent:hover .child:before, .parent:focus .child:before {
	display: block;
}

.parent:hover a, .parent:focus a {
	display: block;
	margin-top: 0.2em;
}

.child:before {
	content: "";
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(52,73,94,0.75);
}